.inputContainer {
  position: relative;
  margin-bottom: var(--spacing);
}

.inputContainer > input {
  margin-bottom: 0 !important;
  padding-right: calc(
    var(--form-element-spacing-horizontal) + 1.5rem
  ) !important;
  padding-inline-end: calc(var(--form-element-spacing-horizontal) + 1.5rem);
}

.inputContainer + small {
  display: block;
  margin-top: calc(var(--spacing) * -0.75);
  margin-bottom: var(--spacing);
}

.showPass {
  position: absolute;
  right: 0;

  line-height: var(--line-height);
  margin: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);

  cursor: pointer;
}

.inputContainer > input[aria-invalid='true'] + .showPass {
  margin-right: calc(var(--form-element-spacing-horizontal) + 1.5rem);
}
