.inputContainer {
  position: relative;
}

.inputContainer > input {
  margin-bottom: 0;
}

.showPass {
  position: absolute;
  line-height: var(--line-height);
  right: 0;
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);

  cursor: pointer;
}
